html {
    height: 100vh;
    width: auto;
}

body {
    display: flex;
    height: 95vh;
    width: auto;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
}

.container-of-containers {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.left-container {
  display: flex;
  font-size:100px;
  font-weight: 100;
  writing-mode: vertical-rl;
  text-orientation:sideways-right;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mid-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    font-size:100px;
    font-weight: 100;
    margin-bottom: 10px;
}

#grid-container {
    display: grid;
    border: 4px solid black;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(24, 1fr);
    aspect-ratio: 3 / 2;
    height: 75vh;
}

.tile {
    font-size: 2em;
    border: 2px solid black;
}

.tile#black {
    background-color: black;
    color: black;
    animation: none;
}

.tile#white {
  background-color: white;
}

.tile#rgb {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.right-container {
  display: flex;
  margin-left: 5vh;
  justify-content: space-between;
  align-items: center;
  gap: 5vh;
}

.slidecontainer {
  height: 100%;
}

input[type=range] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
}

.slider {
  -webkit-appearance: none;
  width: 4px;
  height: 100%;
  background: black;
  outline: none;
  opacity: 1;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
  border-radius: 0;
  border: 4px solid black;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
  border-radius: 0;
  border: 4px solid black;
}

.slider::-moz-range-thumb:hover {
  width: 50px;
  height: 50px;
}

.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
  border-radius: 0;
  border: 4px solid black;
}

.slider::-webkit-range-thumb:hover {
  width: 50px;
  height: 50px;
}

.ratio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:200px;
  font-weight: 100;
  padding: 1.5vh;
}

#color-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

.color-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  border: 4px solid black;
  border-radius: 100%;
  font-size: 75px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}

#black-button {
  background-color: black;
  color: white;
  
}

#white-button {
  background-color: white;
}

#rgb-button {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
