html {
    height: 100vh;
    width: auto;
}

body {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: center;
    font-size:75px;
    font-weight: 100;
    margin-bottom: 10px;
}

#grid-container {
    display: grid;
    border: 4px solid black;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(24, 1fr);
    aspect-ratio: 24 / 16;
    height: 75vh;
}

.tile {
    font-size: 2em;
    border: 2px solid black;
}

.tile-hovered {
    background-color: black;
}